//sidebar
$sidebar_w   = 300px;
$sidebar_bgc = #fff;
$sidebar_bki = '/img/sidebar_bk.png';

$sidebar_latch_sp = '/img/latch.png';

$sidebar_header_h    = 100px;
$sidebar_header_bgc  = rgba(0,0,0,.2);
$sidebar_header_bi   = '/img/logo.png'
$sidebar_header_bi_x = -7px;
$sidebar_header_bi_y = 8px;

$header_title_h1_c   = #333;
$header_title_span_c = rgba( 34, 8, 48, .8);
$header_title_fw     = bold;
$header_title_fz     = 41px;
$header_title_ff     = 'Averia Libre', cursive;
$header_title_x      = 1px;
$header_title_y      = 50px;

$sidebar_post_ff          = 'Lato', sans-serif;
$sidebar_post_date_ff     = 'Open Sans Condensed', sans-serif
$sidebar_post_category_fz = 14px;
$sidebar_post_title_fz    = 28px;
$sidebar_post_date_fz     = 12px;

// $sidebar_post_category_c  = rgba(0,0,0,.5);
// $sidebar_post_title_c     = rgba(0,0,0,.75);
// $sidebar_post_date_c      = rgba(0,0,0,.2);

$sidebar_post_category_c  = #666666;
$sidebar_post_title_c     = #222222;
$sidebar_post_date_c      = #888888;

$sidebar_post_badge_icono = '/img/badge_icono.png'

$sidebar_scroller_bgc = rgba(0,0,0,.1);

// overwrites

body
  overflow: hidden;


// Scroller overwirute
.mCSB_container{
  margin-right : 10px;
}

.mCustomScrollBox .mCSB_scrollTools{
  width : 8px;
}

.mCSB_scrollTools .mCSB_draggerRail{
  background-color : transparent;  
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width : 5px;
  background-color: $sidebar_scroller_bgc;
  box-shadow(1px 0 0 0 rgba(0,0,0,.1) inset);  
}

// .nano
//   .pane
//     width: 7px;
    
//     background: transparent;

//     .slider
//       background-color: $sidebar_scroller_bgc;
//       box-shadow(1px 0 0 0 rgba(0,0,0,.1) inset);

// .debug
//   background-color: rgba(255,145,145,.5);
//   width : 10px;
//   height: 10px;