$sidebarSizeW = 200px;

$toolPanelBkColor = #222222;

.sidebar
  width : $sidebarSizeW;
  float : left;
  background-color #333;

  .tool-panel

    .body
      height : 200px;

      background: $toolPanelBkColor url($pattHoles) 0 0 repeat;

    .footer
      height : 10px;
      background-color #22f;