.sidebar
  width : $sidebar_w;
  position : relative;
  
  background : $sidebar_bgc url($sidebar_bki) 0 0 repeat;
  box-shadow(
    0 0 10px rgba(0, 0, 0, 0.4)\,
    1px 0 0 0 rgba(0, 0, 0, 0.2)\,
    -1px 0 0 0 rgba(255, 255, 255, 0.4) inset
  );
  
  .header
    height : $sidebar_header_h;

    background : $sidebar_header_bgc url($sidebar_header_bi) $sidebar_header_bi_x $sidebar_header_bi_y no-repeat;
    box-shadow(
      0 1px 0 0 rgba(255, 255, 255, 0.7)\,
      0 -1px 0 0 rgba(0, 0, 0, 0.1) inset
    );

    .title
      margin : 0;
      line-height : 0;
      position : absolute;
      left: $header_title_x;
      top: $header_title_y;

      color: $header_title_h1_c;
      font: $header_title_fw $header_title_fz $header_title_ff;
      text-shadow: 0 1px rgba(255,255,255,.5);

      span
        color: $header_title_span_c;

  .body

    .latch
      width : 21px;
      height : 30px;
      position : absolute;
      top : 200px;
      right : -20px;

      background : transparent url($sidebar_latch_sp) 0 0 repeat;
      box-shadow(0 -1px 0 0 rgba(255,255,255,.1));

  .post-titles
    margin : 0;
    padding : 0;

    font-family : $sidebar_post_ff;

    li.post
      width : ($sidebar_w / 2) - 10;
      float : right;
      clear: right;
      position : relative;
      margin : 20px 0;
      padding-right : 10px;
      
      list-style : none;
      text-align : right;
      opacity .6;

      transform-origin: 100% 100%;

      .category
        color : $sidebar_post_category_c;
        font-size : $sidebar_post_category_fz;

      .title
        margin-top : -5px;

        color : $sidebar_post_title_c;
        font-size : $sidebar_post_title_fz;
        line-height: 27px;

      .date
        margin-top: -5px;

        font-family : $sidebar_post_date_ff;
        color : $sidebar_post_date_c;
        font-size : $sidebar_post_date_fz;
