$topWrapperHeight = 40px;

$logoSizeW = 50px;
$logoSizeH = 50px;

$logoPositionLeft = 10px;

$titlePositionLeft = 30px;
$titlePositionTop = 30px;

$infoTabPositionRight = 30px;

$bottomSeparatorSizeH = 10px;

.header
  height: $topWrapperHeight;
  

  .top-wrapper
    height  : $topWrapperHeight - $bottomSeparatorSizeH;
    position: relative; 
  
    >div
      position: absolute;

    .logo
      height: $logoSizeH;
      width : $logoSizeW;
      left  : $logoPositionLeft;
      top   : 0;

      background-color: #55f;

    .title
      left : $titlePositionLeft;
      top  : $titlePositionTop;
      background-color: #5f5;

    .info-tab
      height : 27px;
      width  : 39px;
      right  : $infoTabPositionRight;
      top    : 0;

      background-color: #f55;

  .bottom-separator
    width  : 100%;
    // left   : 0;
    // bottom : 0;
    height : $bottomSeparatorSizeH;
    background-color: #883;
