<div class="body">
  <div class="latch"></div>
    
  <ul class="post-titles">
    
    <li class="post">
      <div class="category">Ícono</div>
      <div class="title">Sylvia Plath</div>
      <div class="date">jul 5 2012</div>
    </li>
    
    <li class="post">
      <div class="category">Ícono</div>
      <div class="title">Sylvia Plath</div>
      <div class="date">jul 5 2012</div>
    </li>
    
    <li class="post">
      <div class="category">Ícono</div>
      <div class="title">Sylvia Plath</div>
      <div class="date">jul 5 2012</div>
    </li>    
    
    <li class="post">
      <div class="category">Ícono</div>
      <div class="title">Sylvia Plath</div>
      <div class="date">jul 5 2012</div>
    </li>
    
    <li class="post">
      <div class="category">Ícono</div>
      <div class="title">Sylvia Plath</div>
      <div class="date">jul 5 2012</div>
    </li>
    
  </ul>
</div>