<div class="pages-wrapper">
  
</div>

<div class="monesan-wrapper">

    <?- partial('header') ?>
    
    <?- partial('sidebar') ?>
      
    <section class="canvas">
      
    </section>
              
</div>