<div class="pages-wrapper">
  
</div>

<div class="monesan-wrapper">

    <section class="header">
      
      <div class="top-wrapper">
        
        <div class="logo"></div>
        <div class="title">monica<span>esan</span></div>
        <div class="info-tab"></div>
        
      </div>
      
      <div class="bottom-separator"></div>
      
    </section>
    
    <section class="sidebar">
      
    </section>
      
    <section class="canvas">
      
    </section>
              
</div>