<section class="header">
  
  <div class="top-wrapper">
    
    <div class="logo"></div>
    <div class="title">monica<span>esan</span></div>
    <div class="info-tab sprite"></div>
    
  </div>
  
  <div class="bottom-separator"></div>
  
</section>